<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container"> <!-- class="container-fluid" means that our links and search bar are stretched to the edge of the display -->
      <a class="navbar-brand" href="#">Dating App</a>
      <!-- class="navbar-toggler" gives us the ability to collapse our nav bar-->
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <div class="collapse navbar-collapse" id="navbarCollapse"> -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="loggedIn">
          <li class="nav-item">
            <a class="nav-link" href="#">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true">Messages</a>
          </li>
          <li class="nav-item" (click)="logout()">
            <a class="nav-link" aria-disabled="true">Logout</a> <!-- Just temporary until we have got the dropdown functionality in place -->
          </li>
        </ul>

        <div class="dropdown" *ngIf="loggedIn"> <!-- We only want to show dropdown when user loggedIn -->
          <a href="" class="dropdown-toggle text-light">Welcome user</a>
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Edit Profile</a>
            <a href="" class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
       
        <form *ngIf="!loggedIn" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off"> <!-- Show this form only if user not loggedIn -->
          <!-- turn this form element into an agular form -->
          <!-- Angular uses the name property behind the scenes to correctly bind with the inputs and components -->
          <!-- [(ngModel)] privides the two way binding between our template and the component -->
          <input 
              name="username"
              [(ngModel)]="model.username"  
              class="form-control me-2" 
              type="text" 
              placeholder="Username">
          <input               
              name="password"
              [(ngModel)]="model.password"  
              class="form-control me-2" 
              type="password" 
              placeholder="Password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      </div>
    <!-- </div> -->
  </nav>